<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770744814021-mvj83hev4hgbmjbgcjv1ieqk7jddi2tf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770744814021-mvj83hev4hgbmjbgcjv1ieqk7jddi2tf</string>
	<key>API_KEY</key>
	<string>AIzaSyCtYLtCs4i1Kca2OrLAwpAyqirkF4SsyVA</string>
	<key>GCM_SENDER_ID</key>
	<string>770744814021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hi.PlatziTweets</string>
	<key>PROJECT_ID</key>
	<string>platsitweets</string>
	<key>STORAGE_BUCKET</key>
	<string>platsitweets.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770744814021:ios:263d4c8c88f0f84a0563ac</string>
	<key>DATABASE_URL</key>
	<string>https://platsitweets.firebaseio.com</string>
</dict>
</plist>